{% extends 'templates/base.html' %}

{% block content %}

<style>
    .bg{
        background: linear-gradient(rgba(30,41,59,0.9), rgba(41,37,36,0.7)), no-repeat center center fixed
    url("https://images.unsplash.com/photo-1582407947304-fd86f028f716?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=996&q=80");
        background-size: cover;
    }
</style>

<section class="bg h-screen">
    <div class="flex flex-col gap-24 h-full w-full items-center justify-end pb-40 container mx-auto">
        <h1 class="text-5xl text-white uppercase tracking-widest">Encontre o lar que reflete sua essência</h1>
        <div class="flex justify-center w-full bg-transparent md:bg-white md:shadow-md rounded-md py-4 px-5">
            <div class="flex flex-col md:flex-row w-full items-center gap-4 md:gap-3">
                <div class="w-full md:w-1/4 md:h-full flex flex-col border border-slate-400 rounded-sm bg-white shadow-md py-2 px-5">
                    <span class="text-xs text-slate-500">Pretensão</span>
                    <span class="text-sm md:text-base text-slate-800">Comprar</span>
                </div>
                <input class="w-full h-14 md:h-full text-sm border border-slate-400 rounded-sm bg-white hover:border-slate-600 shadow-md px-5" type="search" placeholder="Digite o condomínio, região, bairro ou cidade.">
                <button class="px-16 h-full bg-stone-800 text-slate-50 rounded-sm">Buscar</button>
            </div>
        </div>
    </div>
</section>

<section class="w-full bg-slate-800 pt-10 md:pt-16 pb-12">
    <div class="flex flex-col justify-center text-center pt-12 pb-6">
        <h2 class="font-mono text-5xl text-white mb-4 uppercase">Lançamentos</h2>
        <h4 class="text-lg font-sans text-white mb-6">Confira os últimos imóveis que separamos para você.</h4>
        <div class="self-center h-1 w-32 bg-slate-600 mb-6"></div>
    </div>
    <div class="container">
        <div class="grid grid-cols-1 md:grid-cols-3 px-4 md:px-0 gap-6 md:gap-12">
            {% for property in last_properties %}
            <div class="flex flex-col w-full h-fit rounded-sm pb-4">
                <a href="{% url 'property-detail-template' slug=property.slug %}">
                <div class="overflow-hidden w-full h-3/4 md:h-3/5">
                    <img class="w-full h-full object-cover" src="https://betaimages.lopes.com.br/realestate/sml/REB317225/highlinetatuape-saopaulo-tatuape-1-fachada.jpg">
                </div>
                <!-- Info -->
                <div class="flex flex-col gap-4 py-6 md:py-4 ">
                    <div class="">
                        <div class="flex flex-col gap-2">
                            <div class="flex flex-row md:gap-2 gap-2 items-center">
                                <p class="text-base text-stone-400">{{ property.propertyaddress.neighborhood}}, {{ property.propertyaddress.city}}</p>
                            </div>
                            <p class="text-2xl font-normal text-stone-300 uppercase">{{ property.title }}</p>
                            <p class="text-base font-normal text-stone-400 line-clamp-2">{{ property.description }}</p>
                        </div>
                    </div>
                    <div class="h-0.5 w-1/5 bg-stone-400"></div>
                    <div class="flex flex-row gap-10 text-stone-400 text-base">
                        <div>{{ property.area_sqm}}m2</div>
                        <div>{{ property.bedrooms }} Quarto(s)</div>
                        {% if property.parking_lots %}
                        <div>{{ property.parking_lots }} Vaga(s)</div>
                        {% endif %}
                    </div>
                    <div class="">
                        <div class="font-semibold text-stone-300 text-base tracking-wide">
                            R${{ property.price|floatformat:"2" }}
                        </div>
                    </div>
                </div> 
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="w-full bg-white pt-10 md:pt-16 pb-12">
    <div class="flex flex-col justify-center text-center pt-12 pb-6">
        <h2 class="font-mono text-5xl text-slate-800 mb-6 uppercase">Imóveis em destaque</h2>
        <div class="self-center h-1 w-32 bg-slate-600 mb-6"></div>
    </div>
    <div class="container flex flex-col">
        <div class="grid grid-cols-1 md:grid-cols-3 grid-rows-3 md:grid-rows-2 px-4 md:px-0 gap-6 md:gap-12">
            {% for highlighted_property in highlighted_properties %}
            <div class="flex flex-col w-full h-fit rounded-sm pb-4">
                <a href="{% url 'property-detail-template' slug=highlighted_property.property.slug %}">
                <div class="overflow-hidden w-full h-3/4 md:h-3/5">
                    <img class="w-full h-full object-cover" src="https://betaimages.lopes.com.br/realestate/sml/REB317225/highlinetatuape-saopaulo-tatuape-1-fachada.jpg">
                </div>
                <!-- Info -->
                <div class="flex flex-col gap-4 py-6 md:py-4 ">
                    <div class="">
                        <div class="flex flex-col gap-2">
                            <div class="flex flex-row md:gap-2 gap-2 items-center">
                                <p class="text-base text-slate-700">{{ highlighted_property.property.propertyaddress.neighborhood}}, {{ highlighted_property.property.propertyaddress.city}}</p>
                            </div>
                            <p class="text-2xl font-normal text-slate-900 uppercase">{{ highlighted_property.property.title }}</p>
                            <p class="text-base font-normal text-slate-700 line-clamp-2">{{ highlighted_property.property.description }}</p>
                        </div>
                    </div>
                    <div class="h-0.5 w-1/5 bg-slate-600"></div>
                    <div class="flex flex-row gap-10 text-slate-800 text-base">
                        <div>{{ highlighted_property.property.area_sqm}}m2</div>
                        <div>{{ highlighted_property.property.bedrooms }} Quarto(s)</div>
                        {% if highlighted_property.property.parking_lots %}
                        <div>{{ highlighted_property.property.parking_lots }} Vaga(s)</div>
                        {% endif %}
                    </div>
                    <div class="">
                        <div class="font-semibold text-slate-800 text-base tracking-wide">
                            R${{ highlighted_property.property.price|floatformat:"2" }}
                        </div>
                    </div>
                </div>
                </a>
            </div>
            {% endfor %}
        </div>
        <div class="self-center">
            <button class="border-slate-800 border rounded-sm px-14 py-4 hover:bg-black hover:text-white duration-500">Explorar imóveis</button>
        </div>
    </div>
</section>

{% endblock %}