{% extends 'templates/base.html' %}

{% block title %}Explorar Imóveis | Whimsi{% endblock title%}

{% block content %}

<main class="mt-6 mb-12">
<section class="w-full">
	<div class="container">
		<div class="max-w-[150px] text-3xl text-slate-900 uppercase text-left">
			Explorar Imóveis
		</div>
	</div>
</section>

<section class="w-full">
	<div class="container">
		<form action="" class="py-6">
			<div class="flex flex-col md:flex-row gap-2">
				<div class="relative z-0">
					<select name="" class="peer block w-full rounded-md appearance-none border border-zinc-400 bg-transparent py-4 pr-12 text-sm text-slate-800 focus:border-slate-400 focus:outline-none focus:ring-0" placeholder=" ">
						<option value="">Região</option>	
						<option value="south">Zona Sul</option>
						<option value="north">Zona Norte</option>
						<option value="west">Zona Oeste</option>
						<option value="east">Zona Leste</option>
					</select>
				</div>
				<div class="relative z-0">
					<select name="" class="peer block w-full rounded-md appearance-none border border-zinc-400 bg-transparent py-4 pr-12 text-sm text-slate-800 focus:border-slate-400 focus:outline-none focus:ring-0" placeholder=" ">
						<option value="">Dormitórios</option>	
						<option value="1">1 Dorms.</option>
						<option value="2">2 Dorms.</option>
						<option value="3">3 Dorms.</option>
						<option value="4">4 Dorms.</option>
					</select>
				</div>
				<div class="relative z-0">
					<select name="" class="peer block w-full rounded-md appearance-none border border-zinc-400 bg-transparent py-4 pr-12 text-left text-sm text-slate-800 focus:border-slate-400 focus:outline-none focus:ring-0" placeholder=" ">
						<option class="" value="">Tipo</option>	
						<option value="0">Apartamento</option>
						<option value="1">Casa</option>
					</select>
				</div>
				<div class="relative z-0">
					<select name="" class="peer block w-full rounded-md appearance-none border border-zinc-400 bg-transparent py-4 pr-12 text-sm text-slate-800 focus:border-slate-400 focus:outline-none focus:ring-0" placeholder=" ">
						<option value="">Valor Máx.</option>	
						<option value="100000">100.000,00</option>
						<option value="200000">200.000,00</option>
						<option value="300000">300.000,00</option>
						<option value="400000">400.000,00</option>
						<option value="500000">500.000,00</option>
						<option value="600000">600.000,00</option>
						<option value="700000">700.000,00</option>
						<option value="800000">800.000,00</option>
						<option value="900000">900.000,00</option>
						<option value="1000000">1.000.000,00</option>
					</select>
				</div>
				<button class="relative px-20 py-3 z-0 bg-black text-white rounded-md text-sm">
					Buscar
				</button>
			</div>
		</form>
	</div>
</section>

<section class="w-full">
	<div class="container">
		<div class="grid grid-cols-1 md:grid-cols-4 gap-4">
			{% for property in properties %}
			<div class="flex flex-col w-full h-fit rounded-sm">
                <a href="{% url 'property-detail-template' slug=property.slug %}">
                <div class="overflow-hidden w-full h-[550px] md:h-80">
					{% if property.first_image %}
                    <img class="w-full h-full object-cover" src="{{ property.first_image}}">
					{% endif %}
                </div>
                <!-- Info -->
                <div class="flex flex-col gap-4 py-6 md:py-4">
                    <div class="">
                        <div class="flex flex-col gap-2">
                            <div class="flex flex-row md:gap-2 gap-2 items-center">
                                <p class="text-sm text-slate-600">{{ property.address.neighborhood}}, {{ property.address.city}}</p>
                            </div>
                            <p class="text-xl font-normal text-slate-800 uppercase">{{ property.title }}</p>
        					<div class="h-0.5 w-12 bg-slate-600"></div>
						</div>
                    </div>
                    <div class="flex flex-row gap-10 text-slate-800 text-xs">
                        <div>{{ property.area_sqm}}m2</div>
                        <div>{{ property.bedrooms }} Quarto(s)</div>
                        {% if property.parking_lots %}
                        <div>{{ property.parking_lots }} Vaga(s)</div>
                        {% endif %}
                    </div>
                    <div class="">
					<div class="font-semibold text-slate-800 text-base tracking-wide">
                            R${{ property.price|floatformat:"2" }}
                        </div>
                    </div>
                </div> 
                </a>
            </div>
			{% endfor %}
		</div>
	</div>
</section>
</main>

{% endblock %}